siva-parent/siva-webapp/src/main/resources/wsdl/siva.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.webapp.siva.openeid.ee/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" targetNamespace="http://soap.webapp.siva.openeid.ee/"
                  xmlns:external="http://dss.esig.europa.eu/validation/detailed-report"
                  name="SignatureValidationService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.webapp.siva.openeid.ee/"
                   targetNamespace="http://soap.webapp.siva.openeid.ee/">
            <xs:import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
            <xs:import namespace="http://dss.esig.europa.eu/validation/detailed-report"
                       schemaLocation="DetailedReport.xsd"/>
            <xs:element name="ValidateDocument" type="tns:validateDocument"/>
            <xs:element name="ValidationRequest" type="tns:soapValidationRequest"/>
            <xs:element name="ValidateDocumentResponse" type="tns:ValidateDocumentResponse"/>
            <xs:element name="ValidationReport" type="tns:ValidationReport"/>
            <xs:element name="ValidationProcess" substitutionGroup="external:DetailedReport"/>
            <xs:element name="ValidationConclusion" type="tns:ValidationConclusion"/>

            <xs:complexType name="validateDocument">
                <xs:sequence>
                    <xs:element ref="tns:ValidationRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="soapValidationRequest">
                <xs:sequence>
                    <xs:element name="Document" type="xs:string"/>
                    <xs:element name="Filename" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ReportType" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="DocumentType" type="tns:documentType"/>
                    <xs:element minOccurs="0" name="SignaturePolicy" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ValidateDocumentResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" ref="tns:ValidationReport"/>
                    <xs:element minOccurs="0" name="ValidationReportSignature" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ValidationReport">
                <xs:sequence>
                    <xs:element minOccurs="1" ref="tns:ValidationConclusion"/>
                    <xs:element minOccurs="0" ref="tns:ValidationProcess"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ValidationConclusion">
                <xs:sequence>

                    <xs:element name="Policy" type="tns:policy"/>
                    <xs:element name="ValidationTime" type="xs:string"/>
                    <xs:element name="ValidatedDocument" type="tns:validatedDocumentData"/>
                    <xs:element name="ValidationLevel" type="xs:string"/>
                    <xs:element name="ValidationWarnings" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="ValidationWarning"
                                            type="tns:validationWarning"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="SignatureForm" type="xs:string"/>
                    <xs:element name="Signatures" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Signature"
                                            type="tns:signatureValidationData"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="TimeStampTokens" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeStampToken"
                                            type="tns:timeStampTokenData"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ValidSignaturesCount" minOccurs="0" type="xs:int"/>
                    <xs:element name="SignaturesCount" minOccurs="0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="policy">
                <xs:sequence>
                    <xs:element name="PolicyDescription" type="xs:string"/>
                    <xs:element name="PolicyName" type="xs:string"/>
                    <xs:element name="PolicyUrl" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="timeStampTokenData">
                <xs:sequence>
                    <xs:element name="Indication" type="tns:indication"/>
                    <xs:element name="SignedBy" type="xs:string"/>
                    <xs:element name="signedTime" type="xs:string"/>
                    <xs:element name="Errors">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="tns:error"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validatedDocumentData">
                <xs:sequence>
                    <xs:element name="Filename" type="xs:string"/>
                    <xs:element name="FileHashInHex" type="xs:string"/>
                    <xs:element name="HashAlgo" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="signatureValidationData">
                <xs:sequence>
                    <xs:element name="Id" type="xs:string"/>
                    <xs:element name="SignatureFormat" type="xs:string"/>
                    <xs:element name="SignatureLevel" type="xs:string"/>
                    <xs:element name="SignedBy" type="xs:string"/>
                    <xs:element name="Indication" type="tns:indication"/>
                    <xs:element name="SubIndication" type="xs:string"/>
                    <xs:element name="Errors">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="tns:error"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="SignatureScopes">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="SignatureScope" type="tns:signatureScope"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ClaimedSigningTime" type="xs:string"/>
                    <xs:element name="Warnings">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Warning" type="tns:warning"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Info" type="tns:info"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="error">
                <xs:sequence>
                    <xs:element name="Content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validationWarning">
                <xs:sequence>
                    <xs:element name="Content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="signatureScope">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Scope" type="xs:string"/>
                    <xs:element name="Content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="warning">
                <xs:sequence>
                    <xs:element name="Content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="info">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bestSignatureTime" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="documentType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="XROAD"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="indication">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="TOTAL-PASSED"/>
                    <xs:enumeration value="TOTAL-FAILED"/>
                    <xs:enumeration value="INDETERMINATE"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ValidateDocument">
        <wsdl:part element="tns:ValidateDocument" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ValidateDocumentResponse">
        <wsdl:part element="tns:ValidateDocumentResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>
    <wsdl:portType name="ValidationWebService">
        <wsdl:operation name="ValidateDocument">
            <wsdl:input message="tns:ValidateDocument" name="ValidateDocument"/>
            <wsdl:output message="tns:ValidateDocumentResponse" name="ValidateDocumentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SignatureValidationServiceSoapBinding" type="tns:ValidationWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ValidateDocument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="ValidateDocument">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="ValidateDocumentResponse">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SignatureValidationService">
        <wsdl:port binding="tns:SignatureValidationServiceSoapBinding" name="ValidationWebServiceImplPort">
            <soap:address location="http://localhost:8080/soap/validationWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
